.flex {
  display: flex
}

.h-full {
  height: 100%
}

.w-full {
  width: 100%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}
